$blue: #0064a8; // Azul do logo da EPSON
$primary: $blue;
$primary-hover: #014f83;
$red: #d72735;
$selected: #7faac7;
$placeholder: #cccccc;
$light: #f7f9f9;

$modal-backdrop-opacity: 0.7;
$modal-content-border-width: 0;
$toast-color: $light;

$gray-100: #ebeeee;
$gray-200: #e2e9ed;
$gray-800: #253b40;

$gray-80: #cccccc;
$gray-600: #8b979f;
$gray-900: #3e5055;
$secondary: $gray-900;

//custom status
$off-status: #bbcad2;

$border-radius: 0.2rem;

$app-nav-height: 3rem;
